body {background-color:#094c0e;
}
.Wrapper{
    width:1000px;
}
.Header{
width:800px;
}
.Nav{
    width:200px;
    float:left;
    }
.Content{
    width:800px;
    color:lightgreen;
}
.Footer {
   width:1000px;
   height: 100px;
   background-color:olivedrab;
}
.Feedback{
    background-color:#ffd800;
    font-family:Tahoma;
    font-size:xx-large;
}
.TabImg{
    width:60%; 
}
table td{
    padding-block:50px;
}
.paddingTxt{
    padding-left:2px;
}
.map{

}
.fa-solid fa-train{
position:fixed;
height:30px;
width:40px;
z-index:-1;
}
.headerhome{
    color:#808080;
}
.grid-container{
    display: grid;
    grid-template-columns:auto auto auto;
    background-color:aqua;
    padding:3px;
}
.grid-item{
    background-color:slategrey;
    padding:2%;
    border:10px;
    font-size:5px;
    text-align: center;
}
#idmapj
.grid-containerfb {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
}
.grid-itemfb {
    background-color: slategrey;
  
    font-size: 5px;
    text-align: center;
}